---
# tasks file for cart
- name: Installing NodeJS, Make, and gcc-c++.
  dnf:
    name:
      - nodejs
      - make
      - gcc-c++
    state: present

- name: Creating an user named roboshop.
  user:
    name: roboshop
    state: present

- name: Creating a directoy for the cart application content.
  file:
    path: "{{ app_dir }}" # Use the variable
    state: directory
    owner: roboshop
    group: roboshop
    mode: '0700'

- name: Copying local Cart application code to the remote host.
  copy:
    src: ../../1-roboshop-source-code-for-1-VM/4-cart/
    dest: "{{ app_dir }}"
    owner: roboshop
    group: roboshop
    mode: '0644'
    
- name: Ensuring a temporary directory exists with correct ownership for npm installation.
  file:
    path: /home/roboshop/.ansible/tmp
    state: directory
    owner: roboshop
    group: roboshop
    mode: '0700'

- name: Installing cart nodejs application as roboshop user.
  become: yes
  become_user: roboshop
  community.general.npm:
    path: "{{ app_dir }}" # Use the variable

- name: Copying the cart application's service file to 'etc/systemd/system'.
  copy:
    src: ../../1-roboshop-source-code-for-1-VM/4-cart/systemd.service
    dest: /etc/systemd/system/cart.service
    owner: root
    group: root
    mode: '0644'
  # Removed 'remote_src: yes' as the file is copied from the control machine.

#    - name: Updating the Cart application's configuration file with 'Redis IP'.
#      replace:
#        path: "/etc/systemd/system/cart.service"
#        regexp: '^Environment=REDIS_HOST=REDIS_ENDPOINT'
#        replace: 'Environment=REDIS_HOST={{ redis_host_ip }}'
#        backup: yes

#    - name: Updating the application's configuration file with 'Catalogue Ip'.
#      replace:
#        path: "/etc/systemd/system/cart.service"
#        regexp: '^Environment=CATALOGUE_HOST=CATALOGUE_ENDPOINT'
#        replace: 'Environment=CATALOGUE_HOST={{ catalogue_host_ip }}'
#        backup: yes

- name: Reloading the systemd daemon service.
  systemd_service:
    daemon_reload: yes

- name: Enabling and starting the cart application.
  systemd_service:
    name: cart
    enabled: yes
    state: started